In [98]:
suburbs2 = pd.read_csv("suburbs2.csv")

In [99]:
suburbs2.head()

      Suburbs
0     Brakpan
1    Daveyton
2  Roodepoort
3  Westonaria
4     Sandton

In [125]:
import csv

with open('suburbs2.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

print(data)

[['Suburbs'], ['Brakpan'], ['Daveyton'], ['Roodepoort'], ['Westonaria'], ['Sandton'], ['Randburg'], ['Rivonia'], ['Ruimsig'], ['Fourways'], ['Edenvale'], ['Bedfordview'], ['Southgate'], ['Auckland'], ['Park'], ['Germiston'], ['Northcliff'], ['Bryanston'], ['Fairland'], ['Honeydew'], ['Houghton'], ['Hyde'], ['Park'], ['Kensington'], ['Linden'], ['Melville'], ['Morningside'], ['Saxonwold'], ['Illovo'], ['Rosebank'], ['Melrose'], ['Mondeor'], ['Westdene'], ['Parkview'], ['Lanseria'], ['Parktown'], ['Lyndhurst'], ['Braamfontein'], ['Greenside'], ['Lonehill'], ['Kyalami'], ['Soweto'], ['Norwood'], ['North'], ['Riding'], ['Winchester'], ['Hills'], ['Cresta'], ['Eikenhof'], ['Bramley'], ['Isando'], ['Lenasia']]

In [101]:
data[1]

['Brakpan']

In [102]:
latitudes = []
longitudes = []

In [103]:
import numpy as np

for sub in data:
    location = locator.geocode("{}, Johannesburg".format(sub))
    
    try:
        #print(location.latitude, location.longitude)
        latitudes.append(location.latitude)
        longitudes.append(location.longitude)
    except: 
        #print('NaN')
        latitudes.append(np.nan)
        longitudes.append(np.nan)
print("Done!")

Done!

In [114]:
df = pd.DataFrame(columns = ("Suburb", "Latitude", "Longitude"))

In [115]:
for i in range(len(latitudes)):
    df.loc[i,"Suburb"] = data[i]
    df.loc[i,"Latitude"] = latitudes[i]
    df.loc[i,"Longitude"] = longitudes[i]

In [118]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

         Suburb Latitude Longitude
0     [Suburbs]   50.847   9.70062
3  [Roodepoort] -26.1908   27.9486
4  [Westonaria] -26.3492   27.7731
5     [Sandton] -26.1047    28.045
6    [Randburg] -26.0961    27.975

In [120]:
df.drop(0, axis = 0, inplace = True)

In [122]:
df.shape

(48, 3)

In [124]:
df.head()

         Suburb Latitude Longitude
3  [Roodepoort] -26.1908   27.9486
4  [Westonaria] -26.3492   27.7731
5     [Sandton] -26.1047    28.045
6    [Randburg] -26.0961    27.975
7     [Rivonia] -26.1166   28.0464